<div style="width: 100%; display: flex; justify-content: center; align-items: center; margin-top: 10px;">
    <div style="width: 80vw;">
        <table class="table">
        <thead>
            <tr>
            <th scope="col">S.No</th>
            <th scope="col">Handle</th>
            <th scope="col">Get</th>
            <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <th scope="col"><button type="button" class="btn btn-success">Get</button></th>
            <th scope="col"><button type="button" class="btn btn-danger">Remove</button></th>
            </tr>
            <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <th scope="col"><button type="button" class="btn btn-success">Get</button></th>
            <th scope="col"><button type="button" class="btn btn-danger">Remove</button></th>
            </tr>
        </tbody>
    </table>
    </div>
</div>